<h1>Grow Room Index Page</h1>
<%= link_to "New Grow Room", "/grow_rooms/new" %>

<ul>
  <% @grow_rooms.each do |grow_room| %>
    <li>
      <%= grow_room.name %>
      <br>
      Created at: <%= grow_room.created_at %>
    </li>
  <% end %>
</ul>
